html {
	height: 100%;
}

body {
	background: linear-gradient(160deg, #0ebfac 0%, #3c7ff5 30%, #5f44e8 75%);
  background-repeat: no-repeat;
  background-size: stretch;
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	padding: 40px 80px;
}

h1 {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	font-weight: 300;
	font-size: 2.4em;
}