.board {
  display: flex;
  flex-direction: column;
  height: 800px;
  height: 40vw;
  justify-content: center;
  margin: auto;
  width: 800px;
  width: 40vw;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.tile {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  background: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.15) 100%);
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  outline: none;
  padding: auto;
  text-align: center;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.25);

  &[disabled] {
    cursor: not-allowed;
  }

  &.flip {
    background: rgba(255,255,255,0.75);
    background: linear-gradient(-140deg, #DCAAAA 0%, #BF79B7 50%, #7B68C8 100%);
    opacity: 0.75;
  }
}

.claim {
  color: rgba(0,0,0,0.75);
  font-weight: 300;
  font-size: 12em;
  font-size: 8vw;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.25);
  text-transform: uppercase;
}