.board {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  margin: auto;
  width: 800px;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.tile {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  background: rgba(255,255,255,0.15);
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  outline: none;
  padding: auto;
  text-align: center;

  &[disabled] {
    cursor: not-allowed;
  }
}

.player {
  color: #fff;
  font-weight: 900;
  font-size: 12em;
  text-shadow: 0 4px 0 rgba(0,0,0,.5);
}