.board {
  display: flex;
  flex-direction: column;
  height: 800px;
  height: 90vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-top: 5vh;
  position: relative;
  width: 800px;
  width: 90vh;
}
