.board {
  display: flex;
  flex-direction: column;
  height: 800px;
  height: 90vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-top: 5vh;
  position: relative;
  width: 800px;
  width: 90vh;

  &.large > .row > .tile > .claim {
    font-size: 8vh;
  }

  &.huge > .row > .tile > .claim {
    font-size: 4vh;
  }
}

@media (max-width: 800px) {
  .board {
    height: 90vw;
    width: 90vw;

    &.large > .row > .tile > .claim {
      font-size: 8vw;
    }

    &.huge > .row > .tile > .claim {
      font-size: 4vw;
    }
  }
}