@import '../../sass/variables';

.tile {
  align-items: center;
  border: none;
  box-shadow: $shadow;
  cursor: pointer;
  display: flex;
  background: $opaque-medium;
  flex: 1;
  justify-content: center;
  margin: 1vw;
  outline: none;
  padding: auto;
  text-align: center;

  &.o {
    color: $primary;
  }

  &.x {
    color: $secondary;
  }

  &.flip {
    background: $opaque-dark;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.claim {
  flex: 1;
  font-weight: 300;
  font-size: 12em;
  font-size: 12vh;
  text-shadow: $shadow;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .claim {
    font-size: 12vw;
  }
}
